@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "password";
  font-style: normal;
  font-weight: 400;
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

input.key {
  font-family: "password";
}

.skills-ticker-container {
  width: 100%;
  height: 1.6em;  /* Adjust based on your font size */
  overflow: hidden;
}

.skills-ticker-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: ticker 40s linear infinite;
}

.skills-ticker {
  display: inline-block;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* Optional: pause animation on hover */
.skills-ticker-wrapper:hover {
  animation-play-state: paused;
}